<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="com.github.Nebula.Alien">
        <property name="age" value="21">
        </property>
        <property name="computer">
            <bean id="lap" class="com.github.Nebula.Laptop"/>
        </property>
    </bean>

<!--    <bean id="lap" class="com.github.Nebula.Laptop"/>-->
<!--    <bean id="desktop" class="com.github.Nebula.Desktop"/>-->

</beans>